In [1]:
# Import dependency
import pandas as pd

In [2]:
# Read historic precipitation data in CSV to a DataFrame
file_path1 = "../Raw Data/France Precipitation Historic.csv"
precip_df = pd.read_csv(file_path1)
precip_df.head()

,Unnamed: 0,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,1901,812.84,864.18,842.65,952.04,577.74,769.41,763.52,570.08,729.86,...,3142.03,2743.67,3055.19,1646.8,2014.97,2056.04,2970.42,2897.28,2503.63,3090.0
1,1902,766.73,737.39,841.44,895.41,649.58,718.76,768.64,607.76,697.21,...,3328.12,3041.95,3369.07,1564.0,2014.97,2056.04,3298.28,3221.94,2800.79,3423.1
2,1903,799.60,757.38,811.08,845.48,828.09,668.17,1047.50,604.46,756.36,...,3111.88,2684.72,3182.10,1710.2,2014.97,2056.04,3085.81,3012.61,2618.31,3205.5
3,1904,678.64,704.56,712.94,694.69,699.08,616.25,909.87,563.74,659.78,...,3163.91,2766.21,2774.91,1638.0,2014.97,2056.04,2659.82,2592.56,2235.07,2769.8
4,1905,790.02,840.87,854.90,858.40,689.00,675.11,786.84,617.70,727.44,...,3181.74,2775.83,2821.59,1638.0,2014.97,2056.04,2701.22,2637.51,2292.15,2805.4

In [3]:
# Rename unnamed column
precip_df = precip_df.rename(columns={'Unnamed: 0': 'Year'})
precip_df.head()

,Year,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,1901,812.84,864.18,842.65,952.04,577.74,769.41,763.52,570.08,729.86,...,3142.03,2743.67,3055.19,1646.8,2014.97,2056.04,2970.42,2897.28,2503.63,3090.0
1,1902,766.73,737.39,841.44,895.41,649.58,718.76,768.64,607.76,697.21,...,3328.12,3041.95,3369.07,1564.0,2014.97,2056.04,3298.28,3221.94,2800.79,3423.1
2,1903,799.60,757.38,811.08,845.48,828.09,668.17,1047.50,604.46,756.36,...,3111.88,2684.72,3182.10,1710.2,2014.97,2056.04,3085.81,3012.61,2618.31,3205.5
3,1904,678.64,704.56,712.94,694.69,699.08,616.25,909.87,563.74,659.78,...,3163.91,2766.21,2774.91,1638.0,2014.97,2056.04,2659.82,2592.56,2235.07,2769.8
4,1905,790.02,840.87,854.90,858.40,689.00,675.11,786.84,617.70,727.44,...,3181.74,2775.83,2821.59,1638.0,2014.97,2056.04,2701.22,2637.51,2292.15,2805.4

In [4]:
# Create new dataframe with applicable provinces
new_precip_df = precip_df[['Year', 'Alsace', 'Aquitaine', 'Bourgogne', 'Champagne-Ardenne']]

# Rename columns to ID them as precipitation columns
new_precip_df = new_precip_df.rename(columns={'Alsace': 'Alsace Precip', 'Aquitaine': 'Aquitaine Precip', 'Bourgogne': 'Bourgogne Precip', 'Champagne-Ardenne': 'Champagne-Ardenne Precip'})

new_precip_df.head()

,Year,Alsace Precip,Aquitaine Precip,Bourgogne Precip,Champagne-Ardenne Precip
0,1901,864.18,842.65,769.41,729.86
1,1902,737.39,841.44,718.76,697.21
2,1903,757.38,811.08,668.17,756.36
3,1904,704.56,712.94,616.25,659.78
4,1905,840.87,854.90,675.11,727.44

In [5]:
# Read historic temperature data in CSV to a DataFrame
file_path2 = "../Raw Data/France Temp Historic.csv"
temp_df = pd.read_csv(file_path2)
temp_df.head()

,Unnamed: 0,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,1901,9.75,8.41,11.54,8.20,9.82,9.44,10.54,10.11,9.13,...,26.00,26.22,24.98,26.41,21.02,19.97,24.62,24.88,25.69,24.20
1,1902,9.86,8.57,11.75,8.39,9.69,9.56,10.51,10.09,9.11,...,26.08,26.26,24.64,26.66,21.15,20.11,24.36,24.62,25.47,23.93
2,1903,10.14,8.90,11.90,8.62,10.13,9.86,10.77,10.50,9.57,...,26.06,26.24,24.73,26.48,21.04,19.99,24.41,24.68,25.53,23.98
3,1904,10.50,9.39,12.30,9.08,10.20,10.27,10.80,10.74,9.86,...,25.65,25.84,24.30,26.43,21.04,19.99,24.08,24.35,25.21,23.65
4,1905,9.91,8.72,11.63,8.36,9.87,9.65,10.60,10.23,9.36,...,25.85,26.06,24.59,26.51,21.06,20.02,24.31,24.57,25.42,23.88

In [6]:
# Rename unnamed column
temp_df = temp_df.rename(columns={'Unnamed: 0': 'Year'})
temp_df.head()

,Year,France,Alsace,Aquitaine,Auvergne,Basse-Normandie,Bourgogne,Bretagne,Centre,Champagne-Ardenne,...,Cayenne,Saint-laurent-du-maroni,Administrative unit not available,Administrative unit not available.1,Arrondissement_du_vent,Arrondissement_souse_le_vent,Fort-de-France,La Trinite,Le Marin,Saint-Pierre
0,1901,9.75,8.41,11.54,8.20,9.82,9.44,10.54,10.11,9.13,...,26.00,26.22,24.98,26.41,21.02,19.97,24.62,24.88,25.69,24.20
1,1902,9.86,8.57,11.75,8.39,9.69,9.56,10.51,10.09,9.11,...,26.08,26.26,24.64,26.66,21.15,20.11,24.36,24.62,25.47,23.93
2,1903,10.14,8.90,11.90,8.62,10.13,9.86,10.77,10.50,9.57,...,26.06,26.24,24.73,26.48,21.04,19.99,24.41,24.68,25.53,23.98
3,1904,10.50,9.39,12.30,9.08,10.20,10.27,10.80,10.74,9.86,...,25.65,25.84,24.30,26.43,21.04,19.99,24.08,24.35,25.21,23.65
4,1905,9.91,8.72,11.63,8.36,9.87,9.65,10.60,10.23,9.36,...,25.85,26.06,24.59,26.51,21.06,20.02,24.31,24.57,25.42,23.88

In [7]:
# Create new dataframe with applicable provinces
new_temp_df = temp_df[['Year', 'Alsace', 'Aquitaine', 'Bourgogne', 'Champagne-Ardenne']]

# Rename columns to ID them as temperature columns
new_temp_df = new_temp_df.rename(columns={'Alsace': 'Alsace Temp', 'Aquitaine': 'Aquitaine Temp', 'Bourgogne': 'Bourgogne Temp', 'Champagne-Ardenne': 'Champagne-Ardenne Temp'})

new_temp_df.head()

   Year  Alsace Temp  Aquitaine Temp  Bourgogne Temp  Champagne-Ardenne Temp
0  1901         8.41           11.54            9.44                    9.13
1  1902         8.57           11.75            9.56                    9.11
2  1903         8.90           11.90            9.86                    9.57
3  1904         9.39           12.30           10.27                    9.86
4  1905         8.72           11.63            9.65                    9.36

In [8]:
# Merge the new_precip and new_temp DataFrames into one DataFrame
merge_df = pd.merge(new_precip_df, new_temp_df, on='Year')
merge_df.head()

,Year,Alsace Precip,Aquitaine Precip,Bourgogne Precip,Champagne-Ardenne Precip,Alsace Temp,Aquitaine Temp,Bourgogne Temp,Champagne-Ardenne Temp
0,1901,864.18,842.65,769.41,729.86,8.41,11.54,9.44,9.13
1,1902,737.39,841.44,718.76,697.21,8.57,11.75,9.56,9.11
2,1903,757.38,811.08,668.17,756.36,8.90,11.90,9.86,9.57
3,1904,704.56,712.94,616.25,659.78,9.39,12.30,10.27,9.86
4,1905,840.87,854.90,675.11,727.44,8.72,11.63,9.65,9.36

In [9]:
# Create province DataFrame with year, precipitation and temperature
alsace_df = merge_df[['Year', 'Alsace Precip', 'Alsace Temp']]

# Add a column to specify which province the precipitation and temperature data is for
alsace_df['Province'] = pd.Series(['Alsace' for x in range(len(alsace_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
alsace_df = alsace_df.rename(columns={'Alsace Precip': 'Historical Precip', 'Alsace Temp': 'Historical Temp'})

# Reorder the columns
alsace_df = alsace_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

alsace_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Province  Year  Historical Precip  Historical Temp
0   Alsace  1901             864.18             8.41
1   Alsace  1902             737.39             8.57
2   Alsace  1903             757.38             8.90
3   Alsace  1904             704.56             9.39
4   Alsace  1905             840.87             8.72

In [10]:
# Create province DataFrame with year, precipitation and temperature
aquitaine_df = merge_df[['Year', 'Aquitaine Precip', 'Aquitaine Temp']]

# Add a column to specify which province the precipitation and temperature data is for
aquitaine_df['Province'] = pd.Series(['Aquitaine' for x in range(len(aquitaine_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
aquitaine_df = aquitaine_df.rename(columns={'Aquitaine Precip': 'Historical Precip', 'Aquitaine Temp': 'Historical Temp'})

# Reorder the columns
aquitaine_df = aquitaine_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

aquitaine_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    Province  Year  Historical Precip  Historical Temp
0  Aquitaine  1901             842.65            11.54
1  Aquitaine  1902             841.44            11.75
2  Aquitaine  1903             811.08            11.90
3  Aquitaine  1904             712.94            12.30
4  Aquitaine  1905             854.90            11.63

In [11]:
# Create province DataFrame with year, precipitation and temperature
bourgogne_df = merge_df[['Year', 'Bourgogne Precip', 'Bourgogne Temp']]

# Add a column to specify which province the precipitation and temperature data is for
bourgogne_df['Province'] = pd.Series(['Bourgogne' for x in range(len(bourgogne_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
bourgogne_df = bourgogne_df.rename(columns={'Bourgogne Precip': 'Historical Precip', 'Bourgogne Temp': 'Historical Temp'})

# Reorder the columns
bourgogne_df = bourgogne_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

bourgogne_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    Province  Year  Historical Precip  Historical Temp
0  Bourgogne  1901             769.41             9.44
1  Bourgogne  1902             718.76             9.56
2  Bourgogne  1903             668.17             9.86
3  Bourgogne  1904             616.25            10.27
4  Bourgogne  1905             675.11             9.65

In [12]:
# Create province DataFrame with year, precipitation and temperature
champagne_ardenne_df = merge_df[['Year', 'Champagne-Ardenne Precip', 'Champagne-Ardenne Temp']]

# Add a column to specify which province the precipitation and temperature data is for
champagne_ardenne_df['Province'] = pd.Series(['Champagne-Ardenne' for x in range(len(champagne_ardenne_df.index))])

# Rename the precipitation and temperature columns by replacing the province name with "Historical"
champagne_ardenne_df = champagne_ardenne_df.rename(columns={'Champagne-Ardenne Precip': 'Historical Precip', 'Champagne-Ardenne Temp': 'Historical Temp'})

# Reorder the columns
champagne_ardenne_df = champagne_ardenne_df[['Province', 'Year', 'Historical Precip', 'Historical Temp']]

champagne_ardenne_df.head()

C:\Users\cms06\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

            Province  Year  Historical Precip  Historical Temp
0  Champagne-Ardenne  1901             729.86             9.13
1  Champagne-Ardenne  1902             697.21             9.11
2  Champagne-Ardenne  1903             756.36             9.57
3  Champagne-Ardenne  1904             659.78             9.86
4  Champagne-Ardenne  1905             727.44             9.36

In [13]:
# Combine DataFrames into one
concat_df = pd.concat([alsace_df, aquitaine_df, bourgogne_df, champagne_ardenne_df])
concat_df

              Province  Year  Historical Precip  Historical Temp
0               Alsace  1901             864.18             8.41
1               Alsace  1902             737.39             8.57
2               Alsace  1903             757.38             8.90
3               Alsace  1904             704.56             9.39
4               Alsace  1905             840.87             8.72
..                 ...   ...                ...              ...
115  Champagne-Ardenne  2016             865.28            11.15
116  Champagne-Ardenne  2017             754.08            11.52
117  Champagne-Ardenne  2018             779.45            12.32
118  Champagne-Ardenne  2019             757.64            12.00
119  Champagne-Ardenne  2020             736.73            12.51

[480 rows x 4 columns]

In [14]:
# Save concat_df to CSV
concat_df.to_csv('../Raw Data/historical_weather_france.csv', index=False)